.container {
	// figma
	width: 100%;
	max-width: var(--main-ui-max-width);
	height: 64px;
	border-radius: 40px;
	padding: 4px 5px;
	box-sizing: border-box;

	// custom
	background-color: var(--main-green-color);
	justify-content: space-evenly;
	position: fixed;
	bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
}
