.container {
	// figma
	width: 358px;
	height: 64px;
	border-radius: 40px;
	padding: 4px 5px;
	box-sizing: border-box;

	// custom
	background-color: var(--main-green-color);
	justify-content: space-evenly;
	position: absolute;
	bottom: 31px;
    left: 50%;
    transform: translate(-50%, 0);
}
