@use '../mixins.scss';

.buttonRow {
	align-self: stretch;
}

.button {
	font-family: SF Pro Rounded;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.3700000047683716px;
	text-align: center;

	padding: 12px;
	border-radius: 40px;
	background-color: var(--main-blue-color);
	color: white;
	flex-grow: 1;
}

.disabled {
	background-color: var(--main-cloudy-blue-color);
}

.copyIcon {
	margin-left: 8px;
}
