@use '../mixins.scss';

.container {
	z-index: 2;
	position: absolute;
	top: mixins.betweenVH(100px, 125px, 600px, 722px);
	// top: 125px;
    left: 50%;
    transform: translate(-50%, 0);
	width: 100%;
}

.text {
	// figma
	font-family: SF Pro Rounded, sans-serif;
	font-weight: 700;
	line-height: 66.83px;
	letter-spacing: 0.30000001192092896px;
	text-align: left;

	// custom
	margin-left: 8px;
	font-variant-numeric: tabular-nums;
}
