@use '../mixins.scss';

.container {
	margin: 53px 0 58px 0;
}

.text {
	// figma
	font-family: SF Pro Rounded;
	font-weight: 700;
	line-height: 66.83px;
	letter-spacing: 0.30000001192092896px;
	text-align: left;

	// custom
	@include mixins.fix700;
	margin-left: 8px;
	font-variant-numeric: tabular-nums;
}
