@use '../mixins.scss';

.title {
	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
	letter-spacing: 0.36000001430511475px;
	text-align: center;

	margin: 24px 0 4px 0;
}

.subtitle {
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.3700000047683716px;
	text-align: center;

	padding: 0 16px;
}

.grid {
	margin: 24px 0;
	align-self: stretch;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(83px, 1fr));
	gap: 8px;
}
