@use '../mixins.scss';

.item {
	border-radius: 16px;
	padding: 8px 0;
}

.claimed {
	background-color: var(--main-green-color);
}

.unclaimed {
	background-color: var(--main-light-blue-color);
}

.inactive {
	background-color: var(--main-blue-gray-color);
	opacity: 0.5;
}

.day {
	font-family: SF Pro Rounded;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.3700000047683716px;
	text-align: left;
}

.reward {
	font-family: SF Pro Rounded;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.3700000047683716px;
	text-align: left;
}
