.button {
	background-color: white;
	border-radius: 64px;
	width: 72px;
	height: 95px;
	position: fixed;
	right: 16px;
	bottom: 119px;
}

.label {
	// figma
	font-family: SF Pro Rounded;
	font-size: 13px;
	font-weight: 600;
	line-height: 15.51px;
	letter-spacing: 0.5099999904632568px;
	text-align: center;

	// custom
	margin-top: 8px;
}
