@use '../mixins.scss';

.tasks {
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 1fr;
}

.buttonRow {
	align-self: stretch;
	margin-top: 8px;
}

.primaryButton {
	font-family: SF Pro Rounded;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.3700000047683716px;
	text-align: center;

	color: white;
	background-color: var(--main-blue-color);
	border-radius: 40px;
	padding: 12px;
	margin-right: 8px;
	flex-grow: 1;
}

.terms {
	font-family: SF Pro Rounded;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5099999904632568px;
	text-align: center;

	margin: 4px 0 8px 0;
}
