@use '../mixins.scss';

.container {
	box-sizing: border-box;
	padding: 12px 8px;
	border-radius: 24px;
	background-color: white;
	justify-content: space-between;
}

.title {
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.4399999976158142px;
	text-align: center;

	height: 40px;
	margin: 8px 0;
}

.reward {
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5099999904632568px;
	text-align: left;

	margin-left: 4px;
}

.subtitle {
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5099999904632568px;
	text-align: center;

	margin-top: 4px;
}
