@use '../mixins.scss';

.tasks {
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 8px;
}

.terms {
	font-family: SF Pro Rounded, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5099999904632568px;
	text-align: center;

	margin: 4px 0 8px 0;
}
