@use '../mixins.scss';

.container {
	align-self: center;
	width: 100%;
	max-width: var(--main-ui-max-width);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.row {
	align-self: stretch;
	justify-content: space-between;
	margin-bottom: 4px;
}

.energy, .username {
	font-family: SF Pro Rounded;
	font-size: 13px;
	font-weight: 700;
	line-height: 15.51px;
	letter-spacing: 0.4000000059604645px;
	text-align: left;
}

.avatar {
	width: 24px;
	height: 24px;
	border-radius: 100px;
}
