@use '../mixins.scss';

.foo {
	@include mixins.fix600;
	@include mixins.fix700;
}

.title {
	font-family: SF Pro Rounded;
	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
	letter-spacing: 0.36000001430511475px;
	text-align: center;

	margin: 24px 0 4px 0;
}

.description {
	font-family: SF Pro Rounded;
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.3700000047683716px;
	text-align: center;
}

.effect {
	font-family: SF Pro Rounded;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.3700000047683716px;
	text-align: center;

	margin: 24px 0;
}
