@use '../mixins.scss';

.title {
	// figma
	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
	letter-spacing: 0.36000001430511475px;
	text-align: center;

	// custom
	margin-top: 24px;
}

.subtitle {
	// figma
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.3700000047683716px;
	text-align: center;

	// custom
	margin-bottom: 24px;
	color: var(--main-blue-color);
	text-decoration: underline;
}
