@use '../mixins.scss';

.container {
	box-sizing: border-box;
	height: 64px;
	padding: 12px;
	border-radius: 24px;
	background-color: var(--main-light-blue-color);
	align-self: stretch;

	& + & {
		margin-top: 8px;
	}
}

.textContainer {
	flex-grow: 1;
	margin-left: 12px;
}

.title {
	// figma
	font-family: SF Pro Rounded, sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.4399999976158142px;
	text-align: left;
}

.subtitle {
	// figma
	font-family: SF Pro Rounded, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5099999904632568px;
	text-align: left;
}

.chevronLabel {
	// figma
	font-family: SF Pro Rounded, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5099999904632568px;
	text-align: left;

	// custom
	margin-left: 4px;
	margin-right: 8px;
}
